body {
    /* Padding and border is included in an element's total dimensions. */
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    font-family: 'Overpass', 'Times New Roman', Times, serif;
    font-size: 15px;

    background-color: hsl(216, 12%, 8%);
}

.rating {
    border: 1px red solid;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 375px;
    height: 667px;
}

.rating__container {
    border: 1px red solid;
    border-radius: 5%;

    background-color: hsl(213, 19%, 18%);
    padding: 20px;

    margin: 20px;
}

.rating__picture {
    width: 15px;

    border-radius: 50%;
    padding: 15px;
    margin-bottom: 15px;

    background-color: hsla(216, 12%, 54%, 15%);
}

.rating__header {
    font-size: 24px;
    font-weight: bold;

    color: hsla(0, 0%, 100%, 85%);

    margin-bottom: 10px;
}

.rating__text {
    color: hsl(217, 12%, 63%);
    line-height: 22px;
}

.rating__numbers {
    border: 1px red solid;

    display: flex;

    color: hsl(217, 12%, 63%);
}

.button {
    border: 1px red solid;

    color: hsla(0, 0%, 100%, 85%);
}

/* Hidden until user presses the submit button */
.thanks {
    /* 
    display:none removes the entire element from the page
    visibility:hidden hides the element from the page, but it's still there.
    */
    display: none;
}