body {
    /* Padding and border is included in an element's total dimensions. */
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    font-family: 'Overpass', 'Times New Roman', Times, serif;
    font-size: 15px;
  
    background-color: hsl(216, 12%, 8%);
}

/* Style for Rating State */

.rating { 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 375px;
    height: 667px;
}

.rating__container {
    border-radius: 5%;

    /* Add color gradient. */
    background-color: hsl(213, 19%, 18%);
    padding: 30px 20px;
    margin: 20px;
}

.rating__picture {
    width: 15px;

    border-radius: 50%;
    padding: 15px;
    margin-bottom: 15px;

    background-color: hsla(216, 12%, 54%, 15%);
}

.rating__header {
    font-size: 24px;
    font-weight: bold;

    color: hsla(0, 0%, 100%, 85%);

    margin-bottom: 10px;
}

.rating__text {
    color: hsla(217, 12%, 63%, 85%);
    line-height: 25px;

    margin-bottom: 20px;
}

.rating__numbers {
    display: flex;
    justify-content: space-between;

    color: hsla(217, 12%, 63%, 85%);

    margin-bottom: 25px;
}

.number {
    padding: 12px 17px;
    border-radius: 50%;
    text-align: center;

    min-width: 10px;

    background-color: hsla(216, 12%, 54%, 15%);
}

.button {
    border-radius: 25px;
    border: none;

    font-weight: bold;
    color: hsla(0, 0%, 100%, 85%);
    text-align: center;

    padding: 12px;
    width: 300px;

    background-color: hsl(25, 97%, 53%);
}

/* Active states */
.number:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: hsla(0, 0%, 100%, 85%);
}

.button:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 85%);
    color:hsl(25, 97%, 53%)
}

/* Style for Thank You State */

/* Hidden until user presses the submit button */
.thanks {
    display: flex;
    align-items: center;

    width: 375px;
    height: 667px;
}

.thanks__container {
    border-radius: 5%;

    display: flex;
    flex-direction: column;

    align-items: center;

    /* Add color gradient. */
    background-color: hsl(213, 19%, 18%);
    
    padding: 40px 20px;
    margin: 20px;
}

.thanks__picture {
    width: 150px;
}

.thanks__selection {
    border-radius: 20px;
    background-color: hsla(216, 12%, 54%, 15%);

    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 15px;

    color: hsla(25, 97%, 53%, 75%);
}

.thanks__header {
    font-size: 22px;
    color: hsla(0, 0%, 100%, 85%);

    margin: 10px;
}

.thanks__text {
    color: hsla(217, 12%, 63%, 85%);
    text-align: center;
    line-height: 25px;
}

.hide {
    /* 
    display:none removes the entire element from the page
    visibility:hidden hides the element from the page, but it's still there.
    */
    /* display: none; */
    display: none;
}